@font-face {
    font-family: "gothampro";
    src: url("../fonts/GothamPro.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "gothampro-bold";
    src: url("../fonts/GothamPro-Bold.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "gothampro-black";
    src: url("../fonts/GothamPro-Black.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "gothampro-medium";
    src: url("../fonts/GothamPro-Medium.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "geometria";
    src: url("../fonts/Geometria.woff");
    font-style: normal;
    font-weight: normal;
}
